<%= form_for(@gig) do |g| %>  
  <div class="field"> 
    <%= g.label :where %><br> 
    <%= g.text_area :show %>
    <%= g.label :when %>
    <%= g.text_area :show_date %>
    <%= g.select :band_id, options_for_select([['JD White', 1], ['JD and Scott', 2], ['Debris', 3], ['Black Moon Tonic', 4], ['Desperados', 5]]) %>
  </div> 
  <div class="actions"> 
    <%= g.submit "Create" %> 
  </div> 
<% end %>