<% @title = "Debris" %>
<div class="debris">

  <div class="container">
    <div class="row headroom">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 header">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 header">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 header">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 header">
                    <div class="row">
                      <div class="col-xs-10 col-xs-offset-1 header">
                        <% if user_signed_in? %>
                        <h1><a href="/"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></h1>
                        <% end %>
                        <h1>DEBRIS</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 pic">
        <img src=<%= asset_path('debrisAtElbowRoom1980.jpg') alt="" class="img-responsive">
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12 col-sm-6 about myPanels">
        <div class="panel-heading">
          <h4>About</h4>
        </div>
        <% if user_signed_in? %>
          <table class="table">
            <tr>
              <th>Paragraph</th>
              <th></th>
              <th></th>
            </tr>
            <% @abouts.each do |a| %>
            <tr>
              <td><%= a.description %></td>
              <td><%= link_to 'Edit', edit_about_path(a) %></td>
              <td><%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
          <%= link_to "New Paragraph", new_about_path %>
        <% else %>
          <% @abouts.each do |a| %>
            <p><%= a.description %></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 news myPanels">
        <div class="panel-heading">
          <h4>News</h4>
        </div>
        <% if user_signed_in? %>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th>Entry</th>
                <th></th>
                <th></th>
              </tr>
              <% @stories.each do |s| %>
              <tr>
                <td><%= s.news %></td>
                <td><%= link_to 'Edit', edit_story_path(s) %></td>
                <td><%= link_to 'Delete', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </table>
            <%= link_to "New Entry", new_story_path %>
          </div>
        <% else %>
          <ul class="list-group">
            <% @stories.each do |s| %>
              <li class="list-group-item"><p><%= s.news %></p></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div><!-- row -->
  </div><!-- container -->

</div>
