<% @title = "New News Entry" %>
<div class="new">
  <div class="container-fluid">
    <h1 class="center">New News Entry</h1>
    <%= form_for(@story, class: 'form-horizontal') do |s| %>
      <div class="form-group">
        <%= s.label :story, class: 'col-xs-2 control-label' %>
        <div class="col-xs-10">
          <%= s.text_area :news, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-2">
          <%= s.select :band_id, options_for_select([['JD White', 1], ['JD and Scott', 2], ['Debris', 3]]) %>
        </div>
        <div>
          <%= s.submit "Create", class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
